.navbar-header a{
	padding-top: 7px;
	padding-bottom: 7px;
	
}
img{
	margin-left: 30px;
	width: 48px;
}

.navbar-nav li a{
	padding-top: 0px;
}

.navbar-nav i{
	display: block;
}

.navbar-nav i:before{
	font-size: 20px;
}

.navbar-nav li{
	padding-top: 10px;
}

.navbar {
	width: 100%;
	left: 0;
	text-align: center;
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	background-color: black;
	z-index: 1000;/*Cabecera por encima de todo*/
}
.router-link-active {
	background-color: #221D1D !important;
}