#ApuestaDetalle {
    text-align: center;
    margin-top: 5%;
}
#ApuestaDetalle #vs{/*Que no se desmonte el label Vs*/
    padding-right: 0px;
    padding-left: 0px;
}
#ApuestaDetalle h2{
    text-align: center;
    margin-top: 2%;
}
#ApuestaDetalle label {
    text-align: left;
}
#ApuestaDetalle #boton_editar {
    float: right;
    margin-right: 13px;
    margin: 20px;
    margin-top: 0px;
}
#ApuestaDetalle #boton_actualizar {
    background-color: #0F800F;
    color: white;
    float: right;
}
#ApuestaDetalle #boton_cancelar {
    background-color: #FF8000;
    color: white;
    float: left;
}
#ApuestaDetalle #boton_eliminar {
    background-color: red;
    color: white;
    float: left;
}
#ApuestaDetalle #boton_guardar {
    background-color: #0F800F;
    color: white;
    float: right;
}
#ApuestaDetalle .ayudaInput {
    height: 20px;
    margin-left: 5px;
    text-align: left;
}
#ApuestaDetalle .ayudaInput small {
    color: red;
}
.claseError {
    border-color: red;
}
