#UsuarioDetalle {
    text-align: center;
    margin-top: 5%;
}
#UsuarioDetalle h2{
    text-align: center;
    margin: 2%;
}
#UsuarioDetalle label {
    text-align: left;
}
#boton_actualizar {
    background-color: #0F800F;
    color: white;
    float: right;
}
#boton_cancelar {
    background-color: #FF8000;
    color: white;
    float: left;
}
#boton_eliminar {
    background-color: red;
    color: white;
    float: left;
}
#boton_guardar {
    background-color: #0F800F;
    color: white;
    float: right;
}
#UsuarioDetalle .ayudaInput {
    height: 20px;
    margin-left: 5px;
    text-align: left;
}
#UsuarioDetalle .ayudaInput small {
    color: red;
}
.claseError {
    border-color: red;
}
@media (max-width: 767px) {
    #UsuarioDetalle {  
      width: 100%;
      margin:0;
      text-align: center;
      margin-top: 190px;
    }
  }